<h1 class="text-center">{{question.content}}</h1>

<h2 class="text-center mt-5">vote: {{add question.yes question.no}}</h2>
<div style="display: flex; flex-wrap: wrap; border-radius: 6px; overflow: hidden">
    <p style="max-width: {{yesPercent}}%; width: {{yesPercent}}%; background: lightgreen; margin: 0;" class="text-center"><i class="far fa-thumbs-up"></i>{{yesPercent}}%</p>
    <p style="max-width: {{noPercent}}%; width: {{noPercent}}%; background: lightcoral; margin: 0;" class="text-center"><i class="far fa-thumbs-down"></i>{{noPercent}}%</p>
</div>


<p class="text-center mt-5">
    <a href="/" class="btn btn-success">Câu hỏi khác</a>
</p>

